<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Mad Bot</title>
    <script>
      window.onload = async () => {
        if (!window.location.href.split("?code=")[1] && !"<%= user.guilds %>")
          window.location.replace("<%= AUTH_USER_LINK %>");
      };
      const USERJSON = "<%= JSON.stringify(user) %>";
      const USERGUILD = JSON.parse(USERJSON.replace(/&#34;/g, '"'));
    </script>
  </head>
  <body>
    <div class="navBar">
      <h1>Mad Bot</h1>
    </div>
  </body>
</html>
